html,body,#app{
    height: 100%;
    background-color: #f5f6f7;
}
*{
    padding: 0;
    margin: 0;
}
/* 清除浮动 */
.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}