<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
<h3>用户详情页</h3>
    头像  :<img id = "userImage" alt="" src="" width="100px" height="100px"><br>
     <form id="itemForm" enctype="multipart/form-data">
        <input id="imgFile" type="file" name="fileName" onchange="showImg(this)"/>
        <input id="updateImage" type="button" value="修改"/>
     </form>
    
    用户名:<span id="userName"></span><br/>
    性别:<span id="sex"></span><br/>
    年龄:<span id="age"></span><br/>
    格言:<span id="motto"></span><br/>
 <div id="toupdate"></div>
   <div>---------我发表的文章---------</div>
   <span id="result"></span>
</body>
<script type="text/javascript">

/* #####################################################
             用户详情页结构
             发送ajax 加载用户信息{
      success : {
	        1.渲染用户信息
	        2.发送ajax 查用户全部 { success: 渲染查文章}
     }
 }     
##########################################################
*/

/* *******************************************************
       获取URL参数的函数
   userId  
**********************************************************
*/  
function getQueryVariable(variable)
{
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
}



    /* *******************************************************
         1.加载用户信息
                      用户详情页
                      发送ajax 加载用户信息
    
      **********************************************************
     */
		   $.ajax({
			   type : "GET",
			   contentType : "application/x-www-form-urlencoded",
			   url : "http://localhost:8080/blog/user/detail",
			   data:{
				   "userId" : getQueryVariable("userId")			 
			   },
			   xhrFields : {withCredentials : true},
		       success : function(result){
		    	  if(result.success){		 
		    		  $("#userImage").attr("src",result.data.userImage);
		    		  $("#userName").html(result.data.userName);
		    		  $("#sex").html(result.data.userSex);
		    		  $("#age").html(result.data.userAge);
		    		  $("#motto").html(result.data.userMotto);
		    		  $("#toupdate").html("<a href='updateUserDetail.html?userId="+result.data.userId+"'>修改信息</a>")
		    		  
		        /* *******************************************************
		 	         2.加载用户的博客文章信息	                    
		 	         ajax      
		 	      **********************************************************
		 	     */
		 	     
		 		   $.ajax({
		 			   type : "GET",  
		 			   contentType : "application/x-www-form-urlencoded",
		 			   url : "http://localhost:8080/blog/condition/articles",
		 			   data:{
		 				   "userId": getQueryVariable("userId"),
		 				   "page" : 1			  
		 			   },
		 			   xhrFields : {withCredentials : true},
		 		       success : function(result){//ajax成功返回数据	    	   
		 		    	   if(result.success){//后台返回正确
		 		    		 //获取数据  
		 			   	     var articleList = result.data.content;
		 		    	     //for循环拼接article
		 			    	  for(var i = 0;i<articleList.length;i++){
		 			    	   $("#result").append(" <a href='otherUserDetail.html?userId="+articleList[i].userId+"'><img src='http://localhost:8080/blog"+articleList[i].userImage+"' width='80px' height='80px'/> \
		 				       <span>"+articleList[i].userName+"</span></a> \
		 			    	   <a href='#'>"+articleList[i].articleTitle+"</a> \
		 			    	   <a href='#'>点赞数:"+articleList[i].articleStar+"</a> \
		 			    	   <a href='#'>评论数:"+articleList[i].commentCount+"</a> \
		 			    	    <a href='#'>"+articleList[i].createTime+"</a><br/>");
		 			    	  }
		 		    	   }else{
		 			    		  alert("页面加载异常,请刷新试试");
		 			    	  }
		 		       },
		 		       error : function(result){
		 		    	    alert("查找用户发表文章ajax发送失败:"+result.responseText);
		 		       }
		 		   }); 
		    		  
		    	  }else{
		    		  alert(result.msg);
		    		//  window.location.href="login.html";
		    	  }
		    	 
		       },
		       error : function(result){
		    	    alert("登录ajax发送失败:"+result.responseText);
		       }
		   });

 		  
	   /* *******************************************************
	 	         3.修改头像	                    
	 	         ajax      
	 	   **********************************************************
	  */
	    function showImg(obj) {
          var file=$(obj)[0].files[0];    //获取文件信息
          var imgdata='';
          if(file)
          {
              var reader=new FileReader();  //调用FileReader
              reader.readAsDataURL(file); //将文件读取为 DataURL(base64)
              reader.onload=function(evt){   //读取操作完成时触发。
                  $("#userImage").attr('src',evt.target.result)  //将img标签的src绑定为DataURL
              };
          }
          else{
              alert("上传失败");
          }
      };
 
      
	   //登录按钮绑定click事件   
	   
	  $("#updateImage").on("click",function(){
		   
		     var formdata=new FormData();
		        formdata.append('fileName',$('#imgFile').get(0).files[0]);
		     $.ajax({
		            async: false,
		            type: 'POST',
		            url: "http://localhost:8080/blog/user/update/image",
		            dataType: 'json',
		            data: formdata,
		            contentType:false,//ajax上传图片需要添加
		            processData:false,//ajax上传图片需要添加
		            xhrFields : {withCredentials : true},
			   //ajax发送成功
		       success : function(result){
		    	   if(result.success){		  
		    	 $("#userImage").attr('src', 'http://localhost:8080/blog' + result.data.pic);
		    	  }else{
		    		alert(result.msg); 
		    	  }
		      },
		       //ajax发送失败
		       error : function(result){
		    	    alert("登录ajax发送失败:"+result.responseText);
		       }
		   });
	   });

    
    
	     
</script>

</html>